<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="photo social-photo text-light">
            <div class="social">
                <div class="join">
                    <h6>JOIN OUR NEWSLETTER</h6>
                </div>
                <div class="media">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/goga-tsutsunava/" target="_blank">{{s_LinkedIn}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/zara/" target="_blank">{{s_Instagram}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/Zara" target="_blank">{{s_Twitter}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/ZARA" target="_blank">{{s_Facebook}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.es/zaraofficial/" target="_blank">{{s_TikTok}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/user/zara" target="_blank">{{n_WhatsApp}}</a>
                        </li>
                    </ul>
                </div>
                <div class="POLICY">
                    <ul>
                        <li>COOKIES SETTINGS</li>
                        <li>PRIVACY AND COOKIES POLICY</li>
                        <li class="text-primary-emphasis">CREATE CONVERSE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <video id="video" autoplay loop [muted]="1" playsinline class="back-video">
            <source src="assets/images/Create Now. Create Next.  l  Thabang Ramphisa.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</body>

</html>